.ingredient-container {
    position: absolute;
    height: 420px;
top: 0;
bottom: 0;
left: 0;
right: 5;
margin: 200px 20px 30px 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.ingredients-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
    padding-right: 22px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.ingredient-list{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 1;
    right: 0;
    margin: 200px 300px 30px 40px;
}

.ingredient-list h2 {
    text-align: center;
}

.ingredient-list td {
    padding: 20px;
}

.ingredient-list table {
    border-collapse: separate;
    border-spacing: 10px;
}
.f-button{
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
}
.f-button:hover {
    background-color: #0056b3;
}