.recipe-container {
    position: absolute;
    height: 600px;
top: 0;
bottom: 0;
left: 0;
right: 0px;
margin: 130px 20px 30px 550px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
}
.ingredients-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
    padding-right: 22px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
html ,body{
    background-color:rgba(199, 214, 225, 0.49);
}
#description {
   width: 300px; 
   height: 75px;
   resize: none; 
   overflow-y: scroll;
}
#instructions {
   width: 300px; 
   height: 170px;
   resize: none; 
   overflow-y: scroll;
}