td {
    padding: 20px;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

.title-div {
    text-align: center;
}

.image-div{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.body-content {
  padding: 0 40px;
}
