<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout :: page_head}">
        <title>Add recipe page</title>
    </head>
<body>
    <nav th:replace="~{layout :: page_navbar}"></nav>
    <form action='#' th:action="@{/addRecipe}" th:object="${recipe}" method="post">
        <p>Recipe Name: <input type="text" th:field="*{recipeName}" /></p>

       <p><label for="Description">Description: </label></p>
        <p><textarea id="Description" th:field="*{description}"></textarea></p>

        <p><label for="instructions">Instructions: </label></p>
        <textarea id="instructions" th:field="*{instructions}" ></textarea>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
    </form>
    <h1>Add recipe!
        I need to add ingredents whick can vary based on input arrrr!!!!(have a add another ingredent button then submit???)
        add author of recipe!!!!
        need to be logged in to see this page!!!!
    </h1>
</body>
</html>