<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head >
        <div th:replace="~{layout :: page_head}"></div>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="_csrf"       th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
        <link rel="stylesheet" type="text/css" media="all" 
        hef="/css/addRecipe.css" th:href="@{/css/addRecipe.css}" />
        <title>Add recipe page</title>
    </head>
    <header>
        <nav th:insert="~{layout :: page_navbar}"></nav>
        </header>
<body> 
    <div class="recipe-container">
    <form action='#' th:action="@{/addRecipe}" th:object="${recipe}" method="post">
        <p>Recipe Name: <input type="text" th:field="*{recipeName}" /></p>

       <p><label for="Description">Description: </label></p>
        <p><textarea id="Description" th:field="*{description}"></textarea></p>

        <p><label for="instructions">Instructions: </label></p>
        <textarea id="instructions" th:field="*{instructions}" ></textarea>
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>