<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head >
        <div th:replace="~{layout :: page_head}"></div>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="_csrf"       th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
        <link rel="stylesheet" type="text/css" media="all" 
        hef="/css/addRecipe.css" th:href="@{/css/addRecipe.css}" />
       <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
        <title>Add recipe page</title>
    </head>
    <header>
        <nav th:insert="~{layout :: page_navbar}"></nav>
        </header> 
<body> 
    <div class="recipe-container">
    <form action='#' th:action="@{/addRecipe}" th:object="${recipe}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="recipeName">Recipe Name</label>
            <input type="text" th:field="*{recipeName}" id="recipeName" required>
        </div>
       <div class="form-group">
        <label for="description">Description</label>
        <textarea th:field="*{description}" id="description" required></textarea>
    </div>

    <div class="form-group">
        <label for="instructions">Instructions</label>
        <textarea th:field="*{instructions}" id="instructions" required></textarea>
    </div>

      <div class="form-group">
        <label for="file">Upload Image</label>
         <input type="file" th:field="*{file}" id="file" accept="image/png, image/jpeg" required>
    </div>
        
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>