<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{layout :: page_head}"></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" 
     hef="/css/login.css" th:href="@{/css/login.css}" />
    <title>Login Page</title>
</head>
<header>
<nav th:insert="~{layout :: page_navbar}"></nav>
</header>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-button">Login</button>
        </form>
        <br>
        <form th:action="@{/signup}" method="get">
            <button class="signup-button">Sign up</button>
        </form>
    </div>

    
</body>
</html>