 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}">
    <title>Recipes page</title>
</head>
<body>
    <nav th:replace="~{layout :: page_navbar}"></nav>
    <a href="/addRecipe">add Recipe</a>
    <div th:switch="${Recipe}">
        <h2 th:case="null">No recipes yet!</h2>
            <div th:case="*">
                <h2>Recipes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>link</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="recipe : ${Recipe}">
                        <td th:text="${recipe.recipeName}"></td>
                        <td> <a th:href="@{'/recipe/' + ${recipe.id}}"
                            class="btn btn-primary">link</a></td>
                    </tr>
                </tbody>
            </table>
        </div>     
    </div>
</body>
</html>