<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{layout :: page_head}"></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe page</title>
    <link  rel="stylesheet"  type="text/css" media="all" 
    hef="/css/recipe.css"  th:href="@{/css/recipe.css}"/>
</head>
<header>
    <nav th:replace="~{layout :: page_navbar}"></nav>
</header>
<body>
<div>
    <div class="Title">
            <h1 th:text="${recipe.recipeName}"></h1>
            <p th:text="${recipe.description}"></p>
            <p>Author: <span th:text="${recipe.userAccount.getLastName()}"></span>  
                <span  th:text="${recipe.userAccount.getFirstName()}"></span></p>
            </div>



            <div th:switch="${ingredient}">
                <h2 th:case="null">Loading...</h2>
                    <div th:case="*">
                        <h2>Ingredients</h2>
                        <table>
                            <thead>
                            </thead>
                            <tbody>
                            <tr th:each="i : ${ingredient}">
                                <td th:text="${i.amount}"></td>
                                <td th:text="${i.unitName}"></td> 
                                <td th:text="${i.ingredientName}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>     
            </div>
            
            <h2>Instructions</h2>
            <p th:text="${recipe.instructions}"></p>    
</div>

<p>if admin or author give edit/delate rights!</p>
</body>
</html>