 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <div th:replace="~{layout :: page_head}"></div>
    <title>Recipes page</title>
    <link rel="stylesheet" type="text/css" media="all" 
    href="/css/recipes.css" th:href="@{/css/recipes.css}" />
</head>
<body>
    <header>
        <nav th:replace="~{layout :: page_navbar}"></nav>
    </header>
    <div class ="body-content">
    <div th:switch="${Recipe}">
        <h2 th:case="null">No recipes yet!</h2>
            <div th:case="*">
                <div class="recipe-grid">
                    <div class="recipe-item" th:each="recipe : ${Recipe}">
                        <a th:href="@{'/recipe/' + ${recipe.id}}">
                            <img class="recipe-image" th:src="@{'/api/recipes/recipeImage/' + ${recipe.id}}" alt="Recipe Image" /> </a>
                            <div th:text="${recipe.recipeName}">
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>     
    </div>
</div>
</body>
</html>