<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{layout :: page_head}"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="/js/LoadIngredient.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf"       th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>RecipeViewOnly page</title>
    <link rel="stylesheet" type="text/css" media="all" 
    href="/css/recipe.css" th:href="@{/css/recipe.css}" />
</head>
<header>
    <nav th:replace="~{layout :: page_navbar}"></nav>
</header>
<body>
<div>
    <div class="title-div"> 
            <h1 th:text="${recipe.recipeName}" style="display: inline;"></h1>
            <br>
            <div id="description-div" style="display: inline;">
                <h4  id="descriptionRow" style="display: inline;"  th:text="${recipe.getDescription}"
                ></h4>
            </div>
            <p>By: <span  th:text="${recipe.getFirstName()}"></span>
                  <span th:text="${recipe.getLastName()}"></span>  
            </p>
            </div>
            <input type="hidden" id="recipeId" th:value="${recipe.getId()}">
 <!-- Items will be appended by /js/LoadIngredient.js -->
            <div class="ingredient-list">
                <h2>Ingredients</h2> 
                            <table id="ingredientsTable">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
                                    <!-- Items will be appended here by /js/LoadIngredient.js -->
                                </tr>
                            </tbody>
                        </table>   
                    </div>
<div id="instruction-div">
            <h2>Instructions</h2>
            <pre id="instructionRow" style="display: inline;" th:text="${recipe.getInstructions}"></pre>
</div>  
</div>

</body>

</html>